body {
  background-image: url("../img/green_dust_scratch.png");
}

h1 {
  color: #F9ECDC;
  text-align: center;
  font-family: cursive;
  font-size: 50px;
}

.nav {
  display: flex;
  justify-content: space-evenly;
}

.nav a {
  color: #F9ECDC;
  font-size: 20px;
}

.ppalBody {
  margin-top: 70px;
  margin-left: 20px;
  display: flex;
  justify-content: space-evenly;
}

.ppalBody img {
  width: 200px;
  max-height: 200px;
}

.cakes__img,
.savouries__img,
.cookies__img {
  position: relative;
  border: 50px solid black;
  border-image: url("../img/borderImage.png");
  border-image-slice: 100;
}
.cakes__img__text,
.savouries__img__text,
.cookies__img__text {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #333333;
  color: #F9ECDC;
}

.cookies__img__text {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #333333;
  color: #F9ECDC;
  left: 20%;
}