body{
    background-image: url("green_dust_scratch.png");
}

h1{
    color: #F9ECDC;
    text-align: center;
    font-family: cursive;
    font-size: 50px;
}

.nav{
    display: flex;
    justify-content: space-evenly;
    
}

.nav a{
    color: #F9ECDC;
    font-size: 20px;
}

.ppalBody{
    margin-top: 70px;
    margin-left: 20px;
    display: flex;
    justify-content: space-evenly;
}

.ppalBody img{
    width: 200px;
    max-height: 200px;
}

img{
    border: 50px solid black;
    border-image: url("borderImage.png");
    border-image-slice: 100;

}

.cookies {
    position: relative;
}

.savories{
    
    position: relative;
}

.cakes{
    position: relative;

}

.cakes p{
    bottom: 70px;
    left: 125px;
    position: absolute;
    background-color: black;
    color: #F9ECDC;
}
.savories p{
    bottom: 70px;
    left: 125px;
    position: absolute;
    background-color: black;
    color: #F9ECDC;
}
.cookies p{
    bottom: 70px;
    left: 75px;
    position: absolute;
    background-color: black;
    color: #F9ECDC;
}