.footer{
    margin: 100px 20px 20px 10px;
    color: $color-primario;
    display: flex;
    justify-content: space-between;

    &__socialMedia img{
        width: 30px;
        height: 30px;
        margin: 0 5px;
    }
    &__develope{
        align-self: center;
    }
}