.ppalBody {
    margin-top: 70px;
    margin-left: 20px;
    display: flex;
    justify-content: space-evenly;
    & img{
        width: 200px;
        max-height: 200px;
        }

    }

.cakes__img,
.savouries__img,
.cookies__img {
    @include imgCenterOfTheBody;
    &__text{
        @include bodyPicturesText;
    }
}

.cookies__img__text {
    @include bodyPictures__cookies;
}

.cakes:hover,
.savories:hover,
.cookies:hover {
    box-shadow: 20px 20px 33px 0 rgba(0,0,0,0.50);
    transition: box-shadow 0.8s ease-in-out;
}


